body {
    font-family: 'Poppins', sans-serif;
    background-color: burlywood;
}

h1 {
    font-size: 25px;
}

button {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    border: none;
    transition: ease 1s;
}

button:hover {
    transform: scale(105%);
}

.categories {
    background-color: grey;
    width: 200px;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

.product-wrapper {
    background-color: #9ecaff;
    width: 250px;
    display: block;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.info-wrapper {
    background-color: grey;
    color: white;
    width: 40%;
    height: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
