body {
    background-color: beige;
}

.wrapper {
    display: block;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 20px;
}

.main-button {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    align-content: center;
}